body 
{
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 16px;
	line-height: 24px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

canvas 
{
	display: block;
}

.hover 
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/*width: 10%;
	height: 30%;*/
	display: inline-block;
	max-width: 90%;
	max-height: 90%;
	padding: 1%;
	background-color: rgba(75, 106, 136, 0.37);
	margin: auto;
	overflow-y: auto;
	box-shadow: inset 0 0 10px #acdaf8;

	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	border-radius:25px;
}




.hover::-webkit-scrollbar 
{
	width: 1em;
}

.relief 
{
	color: #e0eff2;
	font: italic bold 30px Georgia, Serif;
	text-shadow: -4px 3px 0 #3a50d9, -14px 7px 0 #0a0e27;
}

.main
{
	display: inline-block;
	vertical-align: top;

	width: 100%;

}

.right
{
	margin-left: 20px;
	margin-bottom: 20px;
	/*width: 10%;
	height: 30%;*/
	display: inline-block;
	max-width: 20vw;
	border-radius:25px;
	
	/*background-color: rgba(75, 107, 136, 0.382);*/
}

table
{ 
	width: 100%; 
	border-collapse: collapse; 
}

.footer
{
	bottom: 0;
	/*width: 10%;
	height: 30%;*/
	display: inline-block;
	white-space: nowrap;
	max-width: 600px;
	width: 70%;
	max-height: 200px;
	margin-top: 100px;
	vertical-align: bottom;
	margin-left: 20px;
}

td 
{
	width: 49%;
}


table
{
	text-align: center;
}

.round
{
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	display: inline-block;
	overflow: hidden;
}

iframe 
{
	overflow: hidden;
}

@media 
only screen and (max-width: 1260px),
(min-device-width: 1260px) and (max-device-width: 1024px)  {

	.round
	{
		width: 100%;
	}
	iframe
	{
		width: 100%;
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	
	td { 
		/* Behave  like a "row" */
		border: none;
		position: relative;
		padding-left: 0%; 
		width: 100%;
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
}